<div>
    <button ng-click="back()" class="btn btn-primary" ng-if="!isFirst()"><i class="glyphicon glyphicon-arrow-left"></i> undo {{getBackName()}}</button>
    <button ng-click="go()" ng-if="!isLast()" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-right"></i> redo {{getGoName()}}</button>
    <div history-bar="stackPlease()"></div>
</div>
<div class="todo-container">
    <div todo="todo" ng-repeat="todo in todos" ng-controller="TodoCtrl"></div>
</div>
<form>
    <label for="todo">Add a Todo</label>
    <input type="text" placeholder="Name the action to do" ng-model="todoAction"></input>
    <button class="btn btn-success" ng-click="addTodo()">Add</button>
</form>